.Home {
    background-color: #08090F;
    color: white;
    padding: 10px;
}

h1 {
    margin: 5px;
}

@font-face{
    font-family: Beon;
    src: url(fonts/Beon.otf);
}

.Tag_line {
    font-family: Beon, sans-serif;
    font-size: calc(25px + 2vmin);
    margin: 0;
    padding: 0;
}

.Tag_line a {
    text-decoration: none;
}

.Tag_line .press{
    color: #2345f7;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.Tag_line .a{
    color:#d53f2c;
    -webkit-animation: glow_2 1s ease-in-out infinite alternate;
    -moz-animation: glow_2 1s ease-in-out infinite alternate;
    animation: glow_2 1s ease-in-out infinite alternate;
}

.Tag_line .to_begin{
    color:#2345f7;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0e1b62, 0 0 40px #0e1b62, 0 0 50px #0e1b62, 0 0 60px #0e1b62, 0 0 70px #0e1b62;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #4e6af8, 0 0 40px #4e6af8, 0 0 50px #4e6af8, 0 0 60px #4e6af8, 0 0 70px #4e6af8, 0 0 80px #4e6af8;
    }
}

@-webkit-keyframes glow_2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #952c1e, 0 0 40px #952c1e, 0 0 50px #952c1e, 0 0 60px #952c1e, 0 0 70px #952c1e;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #dd6556, 0 0 40px #dd6556, 0 0 50px #dd6556, 0 0 60px #dd6556, 0 0 70px #dd6556, 0 0 80px #dd6556;
    }
}


.Mission_Statement {
    background-color: #2F3348;
    border-radius: 15px;
    font-family: 'Amiri', serif;
    font-size: calc(10px + 2vmin);
    padding: 3px;
}

.Mission_Statement h1 {
    align-items: center;
    display: flex;
    font-size: calc(15px + 2vmin);
    justify-content: center;
}

.Mission_Statement video {
    height: 50%;
    padding: 5px;
    width: calc(300px - 2vmin)
}

.Buttons {
    display: flex;
    justify-content: space-around;
}

.ContactButton {
    background-color:#5EBA8B;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
}

.ContactButton a{
    background-color: #5EBA8B;
    color: white;
    font-family: 'Amiri', serif;
    font-size: calc(15px + 2vmin);
    text-decoration: none;
}

.Lessons {
    background-color: #2F3348;
    border-radius: 15px;
    padding: 3px;
}

h4 {
    margin: 5px;
}

.SectionTitle {
    font-family: 'Amiri', serif;
    margin: 20px;
    padding: 3px;
    margin: 10px;
}

.Chapters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.Chapter1 {
    display: flex;
    flex-direction: row;
    margin: 3px;
    max-width: 500px;
    padding: 3px;
}

.chap1 {
    background-color: #2345f7;
    border: 4px solid #2345f7;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.chap1 img{
    width: 80px;
}

.ch1_txt {
    display: flex;
    flex-direction: column;
    font-family: 'Amiri', serif;
    font-size: calc(10px + 2vmin);
    
}

.Chapter2 {
    display: flex;
    flex-direction: row;
    margin: 3px;
    max-width: 500px;
    padding: 3px;
}

.chap2 {
    background-color: #ff8300;
    border: 4px solid #ff8300;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.chap2 img{
    width: 80px;
}

.ch2_txt {
    display: flex;
    flex-direction: column;
    font-family: 'Amiri', serif;
    font-size: calc(10px + 2vmin);
    margin: 5px;
    
}

.Chapter3 {
    display: flex;
    flex-direction: row;
    margin: 3px;
    max-width: 500px;
    padding: 3px;
}

.chap3 {
    background-color: #00e100;
    border: 4px solid #00e100;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.chap3 img{
    width: 80px;
}

.ch3_txt {
    display: flex;
    flex-direction: column;
    font-family: 'Amiri', serif;
    font-size: calc(10px + 2vmin);
    margin: 5px;
    
}

.Chapter4 {
    display: flex;
    flex-direction: row;
    margin: 3px;
    max-width: 500px;
    padding: 3px;
}

.chap4 {
    background-color: white;
    border: 4px solid white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.chap4 img{
    width: 80px;
}

.ch4_txt {
    display: flex;
    flex-direction: column;
    font-family: 'Amiri', serif;
    font-size: calc(10px + 2vmin);
}

.Chapter5 {
    display: flex;
    flex-direction: row;
    margin: 3px;
    max-width: 500px;
    padding: 3px;
}

.chap5 {
    background-color: #faed27;
    border: 4px solid #faed27;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.chap5 img{
    width: 80px;
}

.ch5_txt {
    display: flex;
    flex-direction: column;
    font-family: 'Amiri', serif;
    font-size: calc(10px + 2vmin);
    
}

.Chapter6 {
    display: flex;
    flex-direction: row;
    margin: 3px;
    max-width: 500px;
    padding: 3px;
}

.chap6 {
    background-color: #d53f2c;
    border: 4px solid #d53f2c;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.chap6 img{
    width: 80px;
}

.ch6_txt {
    display: flex;
    flex-direction: column;
    font-family: 'Amiri', serif;
    font-size: calc(10px + 2vmin);
}

.Chapter7 {
    display: flex;
    flex-direction: row;
    margin: 3px;
    max-width: 500px;
    padding: 3px;
}

.chap7 {
    background-color: #bf00ff;
    border: 4px solid #bf00ff;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.chap7 img{
    width: 80px;
}

.ch7_txt {
    display: flex;
    flex-direction: column;
    font-family: 'Amiri', serif;
    font-size: calc(10px + 2vmin);
}

.aboutAuthor {
    align-items: center;
    background-color: #2F3348;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-family: 'Amiri', serif;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    margin: 3px;
    padding: 3px;
}


.aboutAuthor img {
    height: 50%;
    width: calc(300px - 2vmin);
    margin: 3px;
    padding: 3px;
}