.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navBar {
  background-color: #08090F;
  padding-inline-start: 0px;
}

.navBar{
  color: white;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  font-size: calc(15px + 2vmin);
  padding-inline-start: 0px;
}

.navBar a{
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: calc(15px + 2vmin);
}

.navBar img{
  height: 100%;
  width: 100px;
}

.footer{
  color: white;
  background-color: #08090F;
  display: flex;
  flex-direction: column;
  font-family: 'Amiri', serif;
  justify-content: space-around;
  text-align: left;
  max-height: 6vh;
}

.footer a {
  color: white;
  text-decoration: none;
}